#page-footer { color: #fff; margin-top: 30px;
  a { color: #fff; }
  dl {
    dd { margin-bottom: 15px; }
  }
  #footer-bottom { padding: 40px 0;
    .social {
      .icon { @include transition(.3s); @include opacity(.3); border: 2px solid #fff; color: #fff; margin-right: 5px; padding: 10px;
        &:hover { @include opacity(1); }
      }
    }
  }

  .block { padding: 40px 0; }
  .form-description { @include opacity(.5); line-height: 45px; }
}