.navigation-wrapper { margin-top: 0px; position: fixed; width: 100%; z-index: 99;
  .navigation { @include transition(.3s); padding: 10px 0;
    .nav {
      li {
        a { color: $color-grey-dark; text-transform: uppercase;
          &:after { @include transition(.4s); @include opacity(0); background-color: $color-primary; bottom: 0px; content: ""; height: 3px; left: 0; margin: auto; position: absolute; right: 0; width: 30px; }
          &:before { @include transition(.4s); @include opacity(0); background-color: $color-secondary; content: ""; height: 3px; left: 0; margin: auto; position: absolute; right: 0; top: 0px; width: 30px; }
          &:hover, &:focus { background-color: transparent;
            &:after { @include opacity(1); bottom: 5px; }
            &:before { @include opacity(1); top: 5px; }
          }
        }
        &.active {
          a {
            &:after { @include opacity(1); bottom: 5px; }
            &:before { @include opacity(1); top: 5px; }
          }
        }
        &:hover {
          .child-navigation { @include opacity(1); visibility: visible; }
        }
        .child-navigation { @include opacity(0); @include transition(.4s); background-color: $color-grey-light; visibility: hidden; position: absolute; top: 55px;
          &:after { border-color: transparent transparent $color-grey-light transparent; border-style: solid; border-width: 0 7.5px 7px 7.5px; content: ""; height: 0px; position: absolute; left: 30px; top: -7px; width: 0px; }
          &:before { background-color: transparent; content: ""; height: 7px; width: 100%; position: absolute; top: -7px; }
          li { border-bottom: 1px solid rgba(0,0,0,.05);
            a { @include transition(.3s); background-color: transparent; display: block; text-transform: none; padding: 10px 20px; white-space: nowrap;
              &:after,&:before { display: none; }
              &:hover { background-color: #fff; color: $color-primary; }
            }
          }
        }
      }
    }
    .navbar { margin-bottom: 0;
      .navbar-brand {margin-top: -5px; }
      .navbar-collapse { padding-right: 0px; }
    }
  }
}

.header-solid { @include transition(.3s); background-color: #fff; }
.header-transaprent { @include transition(.3s); background-color: transparent; }