<div id="content">	
<h2>How it works</h2>
<br>
<table>
	<tr>
		<td>
			<h3>1. Choose a Guideline</h3>
			<ul class="plan">
					<li class="plan">Agenda is split in topics</li>
					<li class="plan">Topics contain simple questions</li>
					<li class="plan">So you answer quickly</li>
					<li class="plan">And don’t forget important matters !</li>
				</ul>
			<hr width="70%">
			<h3>2. Answer the questions</h3>
			<ul class="plan">
					<li class="plan">The app pictures one question at a time</li>
					<li class="plan">You answer using gestures : swiping, dragging, etc</li>
					<li class="plan">It’s the Zero Keyboard Experience!</li>
			</ul>
			<hr width="70%">
			<h3>3. Get your memo</h3>
			<ul class="plan">
					<li class="plan">Memo send to your mail</li>
					<li class="plan">Calendar updated for future reference</li>
					<li class="plan">Share it with your boss and colleague</li>
					<li class="plan">And automatically updates your CRM !</li>
				</ul>
		</td>
		<td style="text-align:right"><img src="images/phone.png"></td>
	</tr>
	
</table
</div>