<div id="content">	

<table>
	<tr>
		<td style="text-align:center" width="50%">
		<h2>You want to test the app</h2>
		<p>
		You can become a pilot with your company and participate to the Guider App conception. 
		</p>
		</td>
		<td style="text-align:center" width="50%">
		<h2>You are an investor</h2>
		<p>
		You believe in the Guider App and help us make it better and bigger ? We're looking for investor to make the zero-keyboard experience the next big thing.
		</p>
		</td>
	</tr>
</table>
<br>
<hr width="70%">
<br>

<h2>Contact us</h2>

<p style="text-align:center;">
info@blucup.com<br>
<br>
Blucup<br>
Aleksanterinkatu 12<br>
00140 Helsinki - Finland<br>


</p>
</div>