<div id="content">	
<h2>Download the app</h2>
<br>
<table>
	<tr>
		<td style="text-align:center"><img src='images/qrcode.png'><br><br><img src='images/logo_AppStore.png'></td>
		<td style="text-align:center"><img src='images/qrcode.png'><br><br><img src='images/logo_GooglePlay.png'></td>
		<td style="text-align:center"><img src='images/qrcode.png'><br><br><img src='images/logo_WindowsStore.png'></td>
	</tr>
</table>
<br>
<hr width="70%">
<br>
<!--<h2>Follow us</h2>
<br>
<table>
	<tr>
		<td><p style="text-align:center"><img src='images/icon_LI.png'><br>Linked In</p></td>
		<td><p style="text-align:center"><img src='images/icon_TW.png'><br>Twitter</p></td>
		<td><p style="text-align:center"><img src='images/icon_FB.png'><br>FaceBook</p></td>
		<td><p style="text-align:center"><img src='images/icon_GP.png'><br>Google+</p></td>
	</tr>
</table>
<br>
<hr width="70%">
<br>-->
<h2>Contact us</h2>

<p style="text-align:center;">
info@blucup.com<br>
<br>
Blucup<br>
Aleksanterinkatu 12<br>
00140 Helsinki - Finland<br>


</p>
</div>