/*
BluCup website Test
*/
@font-face { font-family: link; src: url('fonts/OpenSans-Regular.ttf'); }
@font-face { font-family: navigation; src: url('fonts/SourceSerifPro-Semibold.otf'); }

body { background:  #ffffff url('images/bg2.jpg') top center no-repeat; background-size: cover; }


h1 { font-family:link; color:#ffffff; text-align:center; font-size:100px; line-height:100%; text-shadow: 1px 1px #627B66;}
h2 { font-family:link; color:#627B66; text-align:center; font-size:50px; line-height:60px; margin-top:0px; margin-bottom:10px; text-shadow: 2px 1px #ffffff; }
h3 { font-family:link; color:#ffffff; text-align:center; font-size:30px; line-height:30px; margin:0px; padding:0px;text-shadow: 1px 1px #627B66;}
h4 { font-family:link; color:#ffffff; font-size:14px;text-shadow: 1px 1px #627B66; }
p  { font-family:link; color:#ffffff; text-align:left; font-size:18px; line-height:18px; margin:0px;text-shadow: 1px 1px #627B66;}
a  { font-family:link; text-decoration:none; color:#ffffff; display: inline;text-shadow: 1px 1px #627B66;}

ul.menu   { font-family:link; color:#ffffff; font-size:14px; list-style-type: none; text-shadow: 1px 1px #627B66;}
li.menu   { font-family:link; text-decoration:none; color:#ffffff; display: inline;text-shadow: 1px 1px #627B66; }

ul.plan { font-family:link; color:#ffffff; text-align:left;  font-size:18px; list-style-type: circle;text-shadow: 1px 1px #627B66; }
li.plan { font-family:link; text-decoration:none; color:#ffffff; text-align:left; font-size:18px;  margin:0px; display: list-item; text-shadow: 1px 1px #627B66; }



table { margin:auto; width:80%;}
tr {} 
td {text-align:center; margin:0;padding:0;}



header { 	position:fixed; display:table;
			top:0; left:0;
			width:100%; height:4%;
			padding:0; margin:0;
			z-index:1;
			background:;
			border-bottom: 2px solid #ffffff;
		}
			

	#navigation { 	display:table-cell; 
					top:0; left:0;
					width:50%; height:100%;
					padding-left:1%;				
					z-index:1;	
					vertical-align: middle;	
					text-align: left;
				}
					
	#languages { 	display:table-cell; 
				bottom: 0; left:0;
				width:50%; height:100%;
				padding-left:1%; padding-right:1%;
				z-index:1;
				vertical-align: middle;
				text-align:right;
				}

main { 	position: absolute; display:table; 
		top:8%; left:0;
		width:100%; height:92%;
		margin:0; padding-top:5%; padding-bottom:4%; padding:0; 
		z-index:0; 
		/*background: #ff0000  center center no-repeat;*/
		text-align: center;
		}
			
	#content { 	display:table-cell; 
				top:0; left:0;
				width:100%; height:100%;
				margin:0; padding:5%; padding-top:0;
				z-index:1; 
				
				overflow-X: hidden;
				vertical-align:super; 
				text-align:center;
			}
			
footer { position:fixed; display:table;
		left:0; bottom: 0;
		width:100%; height:4%;
		padding:0;
		z-index:1;
		background: ;
		border-top: 2px solid #ffffff;
		}
			
	#copyright { display:table-cell; 
				left:0; bottom: 0;
				width:30%; height:100%;
				padding-left:1%;
				z-index:1;
				vertical-align: bottom;
				}
				
	#social { 	display:table-cell; 
				left:0; bottom: 0;
				width:30%; height:100%;
				padding-right:1%;
				z-index:1;
				vertical-align: bottom;
				text-align:right;
				}
