/*
BluCup website Test
*/
@font-face { font-family: link; src: url('fonts/OpenSans-Regular.ttf'); }
@font-face { font-family: navigation; src: url('fonts/SourceSerifPro-Semibold.otf'); }

body { background:  #ffffff; }


h1 { font-family:link; color:#1781c5; text-align:center; font-size:55px; line-height:100%; text-shadow: 1px 1px #666666;}
h2 { font-family:link; color:#87D5F7; text-align:center; font-size:30px; line-height:60px; margin-top:0px; margin-bottom:10px; text-shadow: 1px 1px #666666; }
h3 { font-family:link; color:#1781c5; text-align:center; font-size:15px; line-height:30px; margin:0px;}
h4 { font-family:link; color:#85D5F7; text-align:center; font-size:25px; line-height:25px; margin:0px;margin-top:2%;}
ul { font-family:link; color:#85D5F7; font-size:14px; list-style-type: none; }
p  { font-family:link; color:#1781c5; text-align:left; font-size:18px; line-height:18px; margin:0px;}
li,a  { font-family:link; text-decoration:none; color:#85D5F7; display: inline;}


table { margin:auto; width:80%;}
tr {} 
td {text-align:center; margin:0;padding:0;}

#wrapper { 	position:absolute; display:table;
			top:0; left:0;
			width:100%; height:100%; 
			z-index:-1; 
		 }

	header { 	position:fixed; display:table;
				top:0; left:0;
				width:100%; height:10%;
				z-index:1;
				margin:0;padding:0;
				background:#ffffff;
				border-bottom: 2px solid #1781c5;
			}
			
		#navigation { 	display:table-cell; 
						top:0; left:0;
						width:50%; height:100%;
						padding-left:50px;				
						z-index:1;	

						vertical-align: middle;		
					}
					
		#social { 	display:table-cell; 
					bottom: 0; left:0;
					width:50%; height:100%;
					
					z-index:1;
					
					vertical-align: middle;
					text-align:center;
				}


	main { 	position: absolute; display:table; 
				top:10%; left:0;
				width:100%; height:80%;
				margin:0; padding-top:5%; padding-bottom:4%; padding:0; 
				z-index:0; 
				
				/*background: #ff0000  center center no-repeat;*/
				text-align: center;
			}
			
		#content { 	display:table-cell; 
					top:0; left:0;
					width:100%; height:100%;
					margin:0; padding:0;
					z-index:1; 
					padding-bottom:5%;
					overflow-X: hidden;
					vertical-align:super; 
					text-align:center;
			}
			
	footer { 	position:fixed; display:table;
				left:0; bottom: 0;
				width:100%; height:10%;
				padding:0;
				z-index:1;
				
				background: #ffffff;
				border-top: 2px solid #1781c5;
			}
			
		#copyright { display:table-cell; 
					left:0; bottom: 0;
					width:30%; height:100%;
					padding-left:50px;
					z-index:1;
					
					vertical-align: bottom;
				}
				
		#languages { display:table-cell; 
					left:0; bottom: 0;
					width:30%; height:100%;
					padding-right:50px;
					z-index:1;
					
					vertical-align: bottom;
					text-align:right;
				}
