<div id="content">	
<h2>Plans</h2>
<table>
	<tr>
		<td width="25%"><h3>Free</h3></td>
		<td width="25%"><h3>Pro</h3></td>
		<td width="25%"><h3>Team</h3></td>
	</tr>
	
	<tr style="height:20px;vertical-align:top;text-align:center;">
		<td>
			<br>
			<div style="border: solid 1px #333333; border-radius:5px; width:80%; margin-left:5%; padding:5%;">
				<p style="text-align:center;"><a href="javascript.void();" onClick="displayPlan('#free'); return false;">Get guided !</a></p>
				<ul id="free" class="plan" hidden>
					<li class="plan">Use guidelines</li>
					<li class="plan">Add questions on the go</li>
					<li class="plan">Download guidelines and questions</li>
					<li class="plan">Produce memo and share them by mail</li>
				</ul>
				
				<h4>Available soon</h4>
			</div>
		</td>
		<td>
			<br>
			<div style="border: solid 1px #333333; border-radius:5px; width:80%; margin-left:5%; padding:5%;">
				
				<p style="text-align:center;"><a href="javascript.void();" onClick="displayPlan('#pro'); return false;">Be your own guide !</a></p>
				<ul id="pro" class="plan" hidden>
				<li class="plan">Use guidelines</li>
				<li class="plan">Add questions on the go</li>
				<li class="plan">Download guidelines and questions</li>
				<li class="plan">Produce memo and share them by mail</li>
				<li class="plan">And through the app with other users.</li>
				<li class="plan">Access to the studio and create your own questions and guidelines.</li>
				</ul>
				<h4>Available soon</h4>
			</div>
		</td>
		<td>
			<br>
			<div style="border: solid 1px #333333; border-radius:5px; width:80%; margin-left:5%; padding:5%;">
				
				<p style="text-align:center;"><a href="javascript.void();" onClick="displayPlan('#team'); return false;">Guide your mates !</a></p>
				<ul id="team" class="plan" hidden>
				<li class="plan">Use guidelines</li>
				<li class="plan">Add questions on the go</li>
				<li class="plan">Download guidelines and questions</li>
				<li class="plan">Produce memo and share them by mail</li>
				<li class="plan">And through the app with other users</li>
				<li class="plan">Access to the studio and create your own questions and guidelines</li>
				<li class="plan">Synchronize with your CRM</li>
				<li class="plan">Organize your salesmen in team</li>
				<li class="plan">Push guidelines and questions to your team</li>
				</ul>
				<h4>Available soon</h4>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="3"><hr></td>
	</tr>
	<tr>
		<td colspan="3"><h3>Enterprise</h3>
		</td>	
	</tr>
	<tr>
			<td colspan="3"><br>
			<div style="border: solid 1px #333333; border-radius:5px; margin-left:1.5%; width:87%; padding:5%;">
			<p style="text-align:center;"> You need to be able to export your data, exploit them, customs your guidelines ?<br><br>
			<a href="javascript.void();" onClick="displayPlan('#enterprise'); return false;">Take it all !</a></p>
	<p id="enterprise" hidden>
	<br>
	Enjoy the full features of the app as in the team plan and add it customized Data export, have it synchronized with your ERP or CRM, and have custom tailored guidelines with your logo and colours.</p>
	<h4>Contact us for a quote</h4>
	</div>
	</td>
	</tr>
</table>
</div>