<div id="content">	
<h2>Pricing</h2>
<table>
	<tr>
		<td width="25%"><h3>Free</h3></td>
		<td width="25%"><h3>Premium</h3><p>(10&euro; / month)</td>
		<td width="25%"><h3>Enterprise</h3><p><a href="javascript.void();" onClick="nextPage('contact.html'); return false;">Contact us</a></p></td>
	</tr>
	
	<tr style="height:20px;">
		<td><p>Download and use as much guidelines as you want.<br<Produce report and share them by mail as PDF.</p></td>
	
		<td><p>All the free features plus...<br>
			Add questions on the go to your guidelines<br>
			Report sharing through the app with other users.<br>
			Access to the studio, allowing you to create your own questions and guidelines.</p></td>
		<td><p>All the premium features plus...<br>
			Data export for your own need.<br>
			CRM synchronization<br>
			Customize your guidelines with your colors, logo.</td>
	</tr>
	
	
	
	<tr style="height:20px;">
		<td><p style="text-align:center;font-weight:bold;">FREE</p></td>
		<td><p style="text-align:center;font-weight:bold;"></p></td>
		<td><p style="text-align:center;font-weight:bold;"></td>
	</tr>
</table>
</div>