<div id="content">	
<h2>Let us fix you an own assistant</h2>
<br>

<h3>Stop losing time</h3>
<p><br>
Let’s be honest. A huge amount of your time is wasted on non-sales work. Writing up memos, filling information to CRM, keeping your supervisor informed.<br>
<br> 
</p>
<h3>Keep the focus on sales</h3>
<p><br>
In fact you can only use fraction of your time to the actual sales work which you love and which brings home the money.<br> 

(You can finally concentrate fully to your customer in 1on1 meetings. Forget the technology hassle. )<br>
<br>
</p>
<h3>Guider app - Your own assistant</h3>
<p><br>
What is proven way to tackle this problems? Hiring a sales assistant. Suddenly you have double the amount of time in your hands that you can allocate as you like. That is exactly what Guider app does for you.<br><br>  

Guider app gathers data during meetings using gestures. With our Zero Keyboard technology you will never type another meeting memo again. It produces your report, updates your CRM and your done.<br><br> 
</p>


</div>