.scroll-down-button {
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
}
.scroll-down-button .btn {
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  -moz-animation-duration: 10s;
  -webkit-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
}

.navigation-wrapper {
  margin-top: 0px;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.navigation-wrapper .navigation {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 0;
}
.navigation-wrapper .navigation .nav li a {
  color: #292422;
  text-transform: uppercase;
}
.navigation-wrapper .navigation .nav li a:after {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: #e23a00;
  bottom: 0px;
  content: "";
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 30px;
}
.navigation-wrapper .navigation .nav li a:before {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: #face00;
  content: "";
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0px;
  width: 30px;
}
.navigation-wrapper .navigation .nav li a:hover, .navigation-wrapper .navigation .nav li a:focus {
  background-color: transparent;
}
.navigation-wrapper .navigation .nav li a:hover:after, .navigation-wrapper .navigation .nav li a:focus:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  bottom: 5px;
}
.navigation-wrapper .navigation .nav li a:hover:before, .navigation-wrapper .navigation .nav li a:focus:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  top: 5px;
}
.navigation-wrapper .navigation .nav li.active a:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  bottom: 5px;
}
.navigation-wrapper .navigation .nav li.active a:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  top: 5px;
}
.navigation-wrapper .navigation .nav li:hover .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
}
.navigation-wrapper .navigation .nav li .child-navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #edeae6;
  visibility: hidden;
  position: absolute;
  top: 55px;
}
.navigation-wrapper .navigation .nav li .child-navigation:after {
  border-color: transparent transparent #edeae6 transparent;
  border-style: solid;
  border-width: 0 7.5px 7px 7.5px;
  content: "";
  height: 0px;
  position: absolute;
  left: 30px;
  top: -7px;
  width: 0px;
}
.navigation-wrapper .navigation .nav li .child-navigation:before {
  background-color: transparent;
  content: "";
  height: 7px;
  width: 100%;
  position: absolute;
  top: -7px;
}
.navigation-wrapper .navigation .nav li .child-navigation li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.navigation-wrapper .navigation .nav li .child-navigation li a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  display: block;
  text-transform: none;
  padding: 10px 20px;
  white-space: nowrap;
}
.navigation-wrapper .navigation .nav li .child-navigation li a:after, .navigation-wrapper .navigation .nav li .child-navigation li a:before {
  display: none;
}
.navigation-wrapper .navigation .nav li .child-navigation li a:hover {
  background-color: #fff;
  color: #e23a00;
}
.navigation-wrapper .navigation .navbar {
  margin-bottom: 0;
}
.navigation-wrapper .navigation .navbar .navbar-brand {
  margin-top: -5px;
}
.navigation-wrapper .navigation .navbar .navbar-collapse {
  padding-right: 0px;
}

.header-solid {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

.header-transaprent {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
}

a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #292422;
  outline: none !important;
}
a:hover {
  color: #e23a00;
  text-decoration: none;
}

blockquote {
  border: none;
}
blockquote footer {
  color: #292422;
  font-weight: bold;
  font-size: 100%;
}
blockquote footer:before {
  display: none;
}
blockquote p {
  font-size: 18px;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #292422;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14px;
}

dl dt {
  float: left;
  margin-right: 20px;
}
dl dd {
  margin-bottom: 10px;
}

h1 {
  font-size: 72px;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  margin-bottom: 80px;
  text-transform: uppercase;
  position: relative;
}

h3 {
  font-size: 24px;
  margin-bottom: 80px;
  margin-top: 10px;
  position: relative;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

section {
  overflow: hidden;
  position: relative;
}

p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  font-size: 14px;
  line-height: 24px;
}

.background {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.center-image {
  bottom: 0;
  display: inline-block !important;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  position: absolute;
  width: inherit !important;
}

.background-color-grey-dark {
  background-color: #292422;
}

.background-color-grey-light {
  background-color: #edeae6;
}

.background-color-grey-footer {
  background-color: #181818;
}

.background-color-primary {
  background-color: #e23a00;
}

.background-color-secondary {
  background-color: #face00;
}

.center {
  text-align: center !important;
}

.font-color-light {
  color: #fff !important;
}

.font-color-dark {
  color: #292422 !important;
}

.has-opacity {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.has-subtitle {
  margin-bottom: -5px;
}

.has-parallax {
  height: 100%;
}

.menu-child-align-left {
  left: 0 !important;
}

.menu-child-align-right {
  right: 0 !important;
}
.menu-child-align-right:after {
  left: inherit !important;
  right: 30px !important;
}

.regular-case {
  text-transform: none;
}

.reset-margin {
  margin: 0 !important;
}

.opacity-1 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
  opacity: 0.01;
}

.opacity-2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=2);
  opacity: 0.02;
}

.opacity-3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=3);
  opacity: 0.03;
}

.opacity-4 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=4);
  opacity: 0.04;
}

.opacity-5 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  opacity: 0.05;
}

.opacity-6 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=6);
  opacity: 0.06;
}

.opacity-7 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=7);
  opacity: 0.07;
}

.opacity-8 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=8);
  opacity: 0.08;
}

.opacity-9 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=9);
  opacity: 0.09;
}

.opacity-10 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}

.opacity-20 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

.opacity-30 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

.opacity-40 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.opacity-50 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.opacity-60 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

.opacity-70 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.opacity-80 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.opacity-90 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

.address p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  margin-left: 35px;
  padding: 30px 0;
}
.address .icon {
  color: #e23a00;
  font-size: 18px;
}

.block {
  padding: 80px 0;
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0;
  font-size: 10px;
}

.counting-numbers .counting-number .number {
  color: #292422;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: -10px;
}
.counting-numbers .counting-number .description {
  color: #292422;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.divider {
  display: inline-block;
  height: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 30px;
}

.feature {
  margin-bottom: 30px;
}
.feature figure {
  display: inline-block;
  float: left;
}
.feature .feature-content {
  padding-left: 65px;
  padding-top: 5px;
}

.flexslider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: none;
  border: none;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.flexslider .flex-control-nav {
  bottom: 10px;
  z-index: 2;
}
.flexslider .flex-control-nav li a {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.flexslider .flex-control-nav li a.flex-active {
  border: 2px solid rgba(255, 255, 255, 0.8);
}

#map {
  height: 400px;
  margin-bottom: 30px;
}

.pagination li a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: #292422;
  margin-left: 5px;
  padding: 10px 16px;
}
.pagination li a:hover {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.8);
  color: #292422;
}
.pagination li.active a {
  background-color: #e23a00;
  border: 2px solid #e23a00;
}
.pagination li.active a:hover, .pagination li.active a:focus, .pagination li.active a:active {
  background-color: #e23a00;
  border: 2px solid #e23a00;
}
.pagination li:first-child a, .pagination li:last-child a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

p.cite {
  font-size: 24px;
  line-height: 30px;
}

.portfolio-filter {
  margin-bottom: 30px;
}
.portfolio-filter ul li {
  display: inline-block;
  margin-right: 10px;
}
.portfolio-filter ul li a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.portfolio-filter ul li a.current {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.portfolio-item {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 30px;
  position: relative;
}
.portfolio-item img {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  z-index: 10;
}
.portfolio-item .portfolio-caption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #211d1b;
  color: #fff;
  height: 100%;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.portfolio-item .portfolio-caption h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.portfolio-item .portfolio-caption strong {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  font-size: 12px;
}
.portfolio-item .portfolio-detail-btn {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  bottom: 25px;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 20px;
  z-index: 1;
}
.portfolio-item .portfolio-detail-btn i {
  color: #e23a00;
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.portfolio-item:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.portfolio-item:hover img {
  -webkit-transform: scale(0.55, 0.55);
  -moz-transform: scale(0.55, 0.55);
  -ms-transform: scale(0.55, 0.55);
  -o-transform: scale(0.55, 0.55);
  transform: scale(0.55, 0.55);
}
.portfolio-item:hover .portfolio-caption {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.portfolio-item:hover .portfolio-detail-btn {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.price-box {
  margin-bottom: 60px;
  position: relative;
}
.price-box .price-box-header {
  background-color: #292422;
  color: #fff;
  padding: 20px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.price-box .price-box-header:after {
  bottom: -7px;
  border-color: #292422 transparent transparent transparent;
  border-style: solid;
  border-width: 7px 7.5px 0 7.5px;
  content: "";
  height: 0px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 0px;
}
.price-box .price-box-header h4 {
  font-size: 36px;
  margin-bottom: 0;
}
.price-box .price-box-header h5 {
  font-size: 18px;
  margin-top: 0;
  position: relative;
}
.price-box .price-box-header .price {
  font-size: 30px;
  margin-top: 0px;
}
.price-box .price-box-header .interval {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  font-size: 11px;
}
.price-box .price-box-content {
  background-color: #edeae6;
  padding-bottom: 20px;
}
.price-box .price-box-content .price-box-list {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  line-height: 45px;
  margin-bottom: 20px;
}
.price-box .price-box-content .price-box-list li {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.price-box.promoted .price-box-content {
  background-color: #2f2927;
}
.price-box.promoted .price-box-list {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: #fff;
}
.price-box.promoted .price-box-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.read-more {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #292422;
  padding-left: 0px;
}
.read-more:hover {
  color: #e23a00;
  text-decoration: none;
  padding-left: 2px;
}

.scroll-down {
  bottom: 50px;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
}

.section-title h2:after {
  background-color: #e23a00;
  bottom: -15px;
  content: "";
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 30px;
}
.section-title h2:before {
  background-color: #face00;
  content: "";
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -15px;
  width: 30px;
}
.section-title h2.has-subtitle:after {
  display: none;
}
.section-title h3:after {
  background-color: #e23a00;
  bottom: -15px;
  content: "";
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 30px;
}

#slider {
  height: 900px;
}

.slides {
  height: 100%;
}
.slides .slide-content {
  bottom: 20px;
  text-align: center;
}
.slides .slide-content .slide-wrapper {
  position: relative;
  z-index: 4;
}
.slides .slide-content .slide-wrapper h1 {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: inline-block;
  margin: 20px 0;
  padding: 15px 20px;
  position: relative;
}
.slides .slide-content .slide-wrapper h1:after {
  background-color: rgba(0, 0, 0, 0.9);
  bottom: -20px;
  content: "";
  height: 8px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 175px;
}
.slides .slide-content .slide-wrapper h1:before {
  background-color: rgba(0, 0, 0, 0.9);
  content: "";
  height: 8px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -20px;
  width: 175px;
}

.tag {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 12px;
  padding: 3px 6px;
  margin: 10px 0;
}
.tag:hover {
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.team .team-member {
  margin-bottom: 50px;
}
.team .team-member .team-member-image {
  margin-bottom: 40px;
  position: relative;
}
.team .team-member .team-member-image .team-member-overlay {
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.team .team-member .team-member-image .team-member-overlay .social-wrapper {
  background-color: rgba(0, 0, 0, 0.9);
  display: table;
  height: 100%;
  width: 100%;
}
.team .team-member .team-member-image .team-member-overlay .social-wrapper .social-inner {
  display: table-cell;
  vertical-align: middle;
}
.team .team-member .team-member-image .team-member-overlay .social-wrapper .social-inner .social {
  height: 100%;
  margin: 0 auto;
}
.team .team-member .team-member-image .team-member-overlay .social-wrapper .social-inner .social h5 {
  margin-bottom: 35px;
  text-transform: uppercase;
}
.team .team-member .team-member-image .team-member-overlay .social-wrapper .social-inner .social .icon {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  bottom: -40px;
  border: 2px solid #fff;
  color: #fff;
  margin-right: 5px;
  padding: 10px;
  position: relative;
  z-index: 3;
}
.team .team-member .team-member-image .team-member-overlay .social-wrapper .social-inner .social .icon:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.team .team-member .team-member-image:hover .team-member-overlay {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.team .team-member .team-member-image:hover .team-member-overlay .social-wrapper .social-inner .social .icon {
  bottom: 0px;
}
.team .team-member .team-member-title h4 {
  font-size: 24px;
  font-weight: normal;
  position: relative;
}
.team .team-member .team-member-title h4:after {
  background-color: #e23a00;
  bottom: -15px;
  content: "";
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 30px;
}
.team .team-member .team-member-title h4:before {
  background-color: #face00;
  content: "";
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -15px;
  width: 30px;
}
.team .team-member .team-member-title h4.has-subtitle:after {
  display: none;
}
.team .team-member .team-member-title h5 {
  font-size: 14px;
  position: relative;
}

/*custom*/
.team .team-member .team-member-title h5.has-subtitle:after {
  display: none;
}
.team .team-member .team-member-title h5:after {
  background-color: #e23a00;
  bottom: -15px;
  content: "";
  height: 3px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 30px;
}

.grabbing {
  cursor: url(../img/grabbing.png) 8 8, move;
}

.testimonial .client-picture {
  margin-bottom: 40px;
}

.vnbx-mask {
  background-color: rgba(0, 0, 0, 0.85);
}

.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: none;
  border: 3px solid transparent;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  bottom: -1px;
}
.btn:after {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: none;
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.btn:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.btn.btn-color-grey-dark {
  color: #fff;
  background-color: #292422;
  border-color: #292422;
}
.btn.btn-color-grey-light {
  color: #292422;
  background-color: #fff;
  border-color: #fff;
}
.btn.btn-color-primary {
  color: #fff;
  background-color: #e23a00;
  border-color: #e23a00;
}
.btn.btn-color-secondary {
  color: #fff;
  background-color: #face00;
  border-color: #face00;
}
.btn.small {
  padding: 5px 10px;
}
.btn.btn-framed {
  background: transparent;
  border: 3px solid #292422;
  color: #292422;
}
.btn.btn-framed:after {
  background: #292422;
}
.btn.btn-framed:hover {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
}
.btn.btn-framed:hover:after {
  background: #292422;
  width: 100%;
}
.btn.btn-framed.btn-color-grey-dark {
  color: #292422;
  border-color: #292422;
}
.btn.btn-framed.btn-color-grey-dark:after {
  background: #292422;
}
.btn.btn-framed.btn-color-grey-dark:hover {
  color: #fff;
}
.btn.btn-framed.btn-color-grey-dark:hover:after {
  background: #292422;
  width: 100%;
}
.btn.btn-framed.btn-color-grey-light {
  color: #fff;
  border-color: #fff;
}
.btn.btn-framed.btn-color-grey-light:after {
  background: #fff;
}
.btn.btn-framed.btn-color-grey-light:hover {
  color: #292422;
}
.btn.btn-framed.btn-color-grey-light:hover:after {
  background: #fff;
  width: 100%;
}
.btn.btn-framed.btn-color-primary {
  color: #e23a00;
  border-color: #e23a00;
}
.btn.btn-framed.btn-color-primary:after {
  background: #e23a00;
}
.btn.btn-framed.btn-color-primary:hover {
  color: #fff;
}
.btn.btn-framed.btn-color-primary:hover:after {
  background: #e23a00;
  width: 100%;
}
.btn.btn-framed.btn-color-secondary {
  color: #face00;
  border-color: #face00;
}
.btn.btn-framed.btn-color-secondary:after {
  background: #face00;
}
.btn.btn-framed.btn-color-secondary:hover {
  color: #fff;
}
.btn.btn-framed.btn-color-secondary:hover:after {
  background: #face00;
  width: 100%;
}

#contactform textarea {
  min-height: 180px;
}

.contact-form #form-status {
  color: green;
  line-height: 45px;
}
.contact-form #form-status #valid .icon {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}
.contact-form #form-status #invalid {
  color: red;
}
.contact-form label.error {
  background-color: red;
  bottom: -15px;
  color: #fff;
  font-size: 12px;
  left: 0;
  padding: 5px;
  position: absolute;
  z-index: 2;
}
.contact-form label.error:before {
  border-style: solid;
  border-width: 0 3.5px 5px 3.5px;
  border-color: transparent transparent red transparent;
  content: "";
  height: 0px;
  left: 5px;
  position: absolute;
  top: -5px;
  width: 0px;
}

.control-group .controls {
  position: relative;

}

input {
  outline: none !important;
}

input[type="text"], input[type="email"], input[type="search"], textarea {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 20px;
  min-height: 60px;
  padding: 10px 15px;
  width: 100%;
  outline: none;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, textarea:focus {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.2);
  color: #292422;
}

input:invalid, textarea:invalid {
  box-shadow: none;
}

footer input[type="text"], footer input[type="email"], footer input[type="search"], footer textarea {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: 3px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  min-height: 60px;
  padding: 10px 15px;
  width: 100%;
  outline: none;
}
footer input[type="text"]:hover, footer input[type="email"]:hover, footer input[type="search"]:hover, footer textarea:hover {
  border-color: rgba(255, 255, 255, 0.2);
}
footer input[type="text"]:focus, footer input[type="email"]:focus, footer input[type="search"]:focus, footer textarea:focus {
  background-color: #fff;
  border-color: #fff;
  color: #292422;
}
footer #form-status {
  color: #fff !important;
}

.sub-page h2 {
  margin-bottom: 50px;
  margin-top: 0;
}
.sub-page #page-title {
  height: 150px;
  text-align: center;
}
.sub-page #page-title .title {
  line-height: 175px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.sub-page #page-title .title h1 {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: inline-block;
  font-size: 48px;
  padding: 15px 20px;
}
.sub-page .blog-post {
  margin-bottom: 60px;
}
.sub-page .block {
  padding: 0;
  padding-bottom: 40px;
}
.sub-page .has-subtitle {
  margin-bottom: -5px;
}
.sub-page .header-solid {
  background-color: #fff !important;
}
.sub-page .navigation-wrapper {
  position: relative;
}
.sub-page.portfolio-detail h3 {
  margin-bottom: 30px;
}

.blog-post {
  margin-bottom: 30px;
}
.blog-post .date-circle {
  color: #fff;
  float: left;
  display: inline-block;
  position: relative;
  text-align: center;
}
.blog-post .date-circle .date-circle-content {
  left: 0;
  margin: auto;
  position: absolute;
  top: 8px;
  right: 0;
}
.blog-post .date-circle .date-circle-content .day {
  font-size: 24px;
  margin-bottom: -10px;
}
.blog-post .date-circle .date-circle-content .month {
  font-size: 11px;
  text-transform: uppercase;
}
.blog-post .blog-post-content {
  padding-left: 100px;
  padding-top: 5px;
}
.blog-post .blog-post-content img {
  margin-bottom: 10px;
}
.blog-post .blog-post-content .author {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  font-size: 11px;
}

.blog-detail-page aside {
  margin-bottom: 40px;
}
.blog-detail-page aside .recent-post {
  border-bottom: 1px solid #edeae6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.blog-detail-page aside .recent-post h5 {
  margin-bottom: 0;
}
.blog-detail-page aside .recent-post .meta > div {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  display: inline-block;
  font-size: 11px;
  margin-right: 20px;
}
.blog-detail-page aside .tag {
  margin: 2px 0;
}
.blog-detail-page aside ul li {
  padding: 3px 0;
}
.blog-detail-page #blog-post h2 {
  font-size: 42px;
  margin-bottom: 35px;
}
.blog-detail-page #blog-post h3 {
  margin-bottom: 20px;
  margin-top: 0px;
}
.blog-detail-page .comment .author-image {
  display: inline-block;
  float: left;
  max-width: 60px;
}
.blog-detail-page .comment .children {
  margin-left: 15px;
}
.blog-detail-page .comment .comment-content {
  border-bottom: 1px solid #edeae6;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-left: 80px;
}
.blog-detail-page .comment .comment-content:last-child {
  border: none;
}
.blog-detail-page .comment .comment-content .author {
  font-size: 18px;
}
.blog-detail-page .comment .comment-content .meta {
  font-size: 11px;
  padding: 5px 0;
}
.blog-detail-page .post-featured-image {
  margin-bottom: 25px;
}
.blog-detail-page .post-footer .icons {
  padding: 10px 0;
}
.blog-detail-page .post-footer .icons a {
  margin-left: 10px;
}
.blog-detail-page .reply-form textarea {
  min-height: 150px;
}

#page-footer {
  color: #fff;
  margin-top: 0px;
}
#page-footer a {
  color: #fff;
}
#page-footer dl dd {
  margin-bottom: 15px;
}
#page-footer #footer-bottom {
  padding: 40px 0;
}
#page-footer #footer-bottom .social .icon {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  border: 2px solid #fff;
  color: #fff;
  margin-right: 5px;
  padding: 10px;
}
#page-footer #footer-bottom .social .icon:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#page-footer .block {
  padding: 40px 0;
}
#page-footer .form-description {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  line-height: 45px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .description {
    font-size: 14px !important;
  }

  .team-member-image img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  footer .social {
    float: left !important;
  }

  h1 {
    font-size: 34px !important;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 50px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 50px;
  }

  img {
    width: inherit !important;
    max-width: 100%;
  }

  .block {
    padding: 40px 0;
  }

  .blog-post .blog-post-content {
    padding-left: 70px;
  }
  .blog-post .date-circle {
    width: 60px;
  }

  .blog-detail-page article .social {
    float: none !important;
  }

  .copyright {
    margin-bottom: 30px;
  }

  .child-navigation {
    opacity: 1 !important;
    visibility: visible !important;
    position: relative !important;
    top: 0 !important;
    background-color: transparent !important;
  }
  .child-navigation:after, .child-navigation:before {
    display: none !important;
  }

  .icon-bar {
    background-color: #292422;
  }

  .navigation {
    background-color: #fff !important;
  }
  .navigation nav a:after, .navigation nav a:before {
    display: none !important;
  }

  .navbar-collapse {
    overflow: hidden;
    max-height: inherit !important;
  }

  #page-title img {
    max-width: inherit !important;
    width: inherit !important;
  }

  .portfolio-item img {
    width: 100% !important;
  }

  .portfolio-filter ul li {
    display: block;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .team-member-image img {
    width: 100% !important;
  }
}

#launch { 
	height:900px;
	width:100%;
	background:url('../img/road2.jpg') top center no-repeat;
	background-size: auto auto;

}
.launch {
	height:900px;
	width:100%;
	display:table;
	  text-align: center;
}
.launch-content
{ height:900px;
width:100%;
  display: table-cell;
  vertical-align: middle;
}
.earlyAccess {
display:inline-block
}

.balderi{ 
	background:url('../img/bg-balderi.jpg') top center no-repeat;
	background-size: auto auto;

}